# https://docs.github.com/en/actions

name: "Integrate"

on:
  pull_request: null
  push:
    branches:
      - "master"

jobs:
  build:
    name: "Build"

    runs-on: "ubuntu-latest"

    continue-on-error: true

    strategy:
      matrix:
        language:
          - "de"
          - "en"
          - "es"
          - "fr"
          - "it"
          - "ja"
          - "pl"
          - "pt_br"
#          - "ro"
          - "ru"
          - "tr"
          - "uk"
          - "zh"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
        with:
          path: "doc-base"

      - name: "Checkout php/doc-${{ matrix.language }}"
        uses: "actions/checkout@v4"
        with:
          path: "${{ matrix.language }}"
          repository: "php/doc-${{ matrix.language }}"

      - name: "Checkout php/doc-en as fallback"
        if: "matrix.language != 'en'"
        uses: "actions/checkout@v4"
        with:
          path: "en"
          repository: "php/doc-en"

      - name: "Run QA scripts for EN docs"
        if: "matrix.language == 'en'"
        run: |
          php doc-base/scripts/qa/extensions.xml.php --check
          php doc-base/scripts/qa/section-order.php

      - name: "Build documentation for ${{ matrix.language }}"
        run: |
          git -C doc-base pull origin master
          git -C doc-base merge --no-ff --no-commit origin/master
          php doc-base/configure.php --disable-libxml-check --enable-xml-details --redirect-stderr-to-stdout --with-lang=${{ matrix.language }}
